* {
  margin: 0;
  font-family: "Mukta", sans-serif;
  padding: 0;
}
.comic-posts {
  display: flex;
  flex-wrap: wrap;
}
.comic-post {
  margin: 10px;
  width: 200px;
  text-align: center;
  padding-top: 100px;
}

.comic-image {
  margin-left: 100px;
  width: 100%;
  height: auto;
  transition: 2s ease;
}
.comic-image:hover {
  transform: scale(1.1);
}

h4 {
  margin-left: 100px;
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;
}
h1 {
  text-align: center;
  color: rgb(65, 13, 7);
  font-size: 96px;
  margin-top: 300px;
}
.description {
  background-color: #fff;
  padding: 90px;
  margin-top: 20px;
}

.description h3 {
  font-size: 24px;
  color: #111;
}

.description p {
  font-size: 16px;
  color: #666;
  transform: ease 2s;
}
.description img {
  width: 200px;
  height: auto;
  transition: 2s ease;
}
.description img:hover {
  transform: scale(1.1);
}
